<!DOCTYPE html>
<html>

<head>
    <title>Healthcare Fraud Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>  

<body>

{% include "navbar.html" %}

    <h1>Healthcare Fraud Detection System</h1>

    <form action="/predict" method="POST">
 
        <label><b>Select Prediction Model</b></label><br>

        <select name="model_type" required>
            <option value="random_forest">Random Forest</option>
            <option value="federated">Federated Learning</option>
        </select>

        <br><br>
     

        <label>Patient Age</label><br>
        <input type="number" name="patient_age" min="0" max="120" required><br><br>

        <label>Gender</label><br>
        <select name="patient_gender">
            <option>Male</option>
            <option>Female</option>
        </select><br><br>

        <label>Hospital Type</label><br>
        <select name="hospital_type">
            <option>Private</option>
            <option>Government</option>
        </select><br><br>


        <label>Treatment Category</label><br>
        <select name="treatment_category">
        <option>Consultation</option>
        <option>Emergency</option>
        <option>Surgery</option>
        <option>Therapy</option>
        </select><br><br>

        <label>Diagnosis Code</label><br>
        <input type="text" name="diagnosis_code" required><br><br>

        <label>Claim Amount</label><br>
        <input type="number" name="claim_amount" min="0" required><br><br>

        <label>Approved Amount</label><br>
        <input type="number" name="approved_amount" min="0" required><br><br>

        <label>Hospital Stay Days</label><br>
        <input type="number" name="hospital_stay_days" min="0" required><br><br>

        <label>Previous Claims Count</label><br>
        <input type="number" name="previous_claims_count" min="0" required><br><br>

        <label>Policy Tenure (Years)</label><br>
         <input type="number" name="policy_tenure_years" min="0" required><br><br>

        <label>Claim Submission Delay (Days)</label><br>
         <input type="number" name="claim_submission_delay_days" min="0" required><br><br>

        <label>High Risk Procedure</label><br>
        <select name="high_risk_procedure_flag">
            <option>Yes</option>
            <option>No</option>
        </select><br><br>

        <label>Document Mismatch</label><br>
       <select name="document_mismatch_flag">
            <option>Yes</option>
            <option>No</option>
        </select><br><br>

        <label>Anomaly Score</label><br>
        <input type="number" name="anomaly_score" min="0" max="1" step="0.01" required><br><br>

        <button type="submit">Predict Fraud</button>

        <br><br>

    </form>
     
</body>

</html>